<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861708735565-je36jl2592rh17p1j0cl4fpe1uhjmvg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861708735565-je36jl2592rh17p1j0cl4fpe1uhjmvg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBuwIQRzfXhYBVcb6PQpZbt9RSsY4L4nWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>861708735565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jangjeon</string>
	<key>PROJECT_ID</key>
	<string>jangjoen-e8487</string>
	<key>STORAGE_BUCKET</key>
	<string>jangjoen-e8487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861708735565:ios:64b7342a51f6196b10f804</string>
</dict>
</plist>